:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hide {
  display: none;
}

/* header styles */
.header {
  border-bottom: 1px solid var(--text-color);
}

.nav-contacts,
.site-nav {
  display: flex;
  align-items: center;
}

.logo-web {
  color: var(--primary-brand-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--dark-color);
}

.navigation-list {
  display: flex;
  margin-left: 76px;
}

.navigation-list .item:not(:last-child) {
  margin-right: 40px;
}
.navigation {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--dark-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:focus {
  color: var(--primary-brand-color);
}

.site-contacts {
  display: flex;
  margin-left: auto;
}

.site-contacts .item:not(:last-child) {
  margin-right: 40px;
}

.contacts {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color: var(--primary-brand-color);
}

/* footer styles */
.footer {
  background-color: var(--dark-color);
}

.main-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo-studio {
  color: var(--light-color);
}

.footer-text {
  margin-top: 16px;
  width: 264px;
  color: var(--accent-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* header styles */

.header-one {
  margin-bottom: 48px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.header-two {
  color: var(--dark-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.header-three {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* index styles */

/* hero styles */
.hero-section {
  background-color: var(--dark-color);
  text-align: center;
}

.order-button {
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
}

/* services styles */

.services-list {
  display: flex;
}

.services-list .item:not(:last-child) {
  margin-right: 24px;
}

.services-list .item {
  width: 264px;
  margin-top: 120px;
  margin-bottom: 120px;
}

/* what are we doing */

.examples {
  display: flex;
}

.examples .item:not(:last-child) {
  margin-right: 24px;
}

.examples .item {
  margin-top: 72px;
  margin-bottom: 120px;
}

/* our team */

.our-team {
  background-color: var(--light-color);
}

.our-team .header-two {
  padding-top: 120px;
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 24px;
}

.team-list .item {
  margin-top: 72px;
  margin-bottom: 120px;
}

.team-content {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--white-color);
  text-align: center;
}

/* portfolio styles */

/* filter button styles */
.filter-button {
  display: flex;
  justify-content: center;
}

.filter-button .item:not(:last-child) {
  margin-right: 24px;
}

.filter-button .item {
  margin-top: 96px;
  margin-bottom: 72px;
}

.filter-button .button {
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--accent-color);
}

.filter-button .button:hover,
.filter-button .button:focus {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color);
}
/* filter list styles */

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -48px;
  margin-bottom: 120px;
}

.filter-list .item {
  flex-basis: calc(100% / 3 - 24px);
  margin-left: 24px;
  margin-top: 48px;
}

.filter-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 32px 16px;
  border-bottom: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}
