:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #fff;
  --black-color: #000;
  --succes-color: #31d0aa;
  --subtle-text: #8e8f99;
  --pressed-state: #404bbf;
  --modal-background: #fcfcfc;
}

svg {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hide {
  display: none;
}

/* header styles */
.header {
  border-bottom: 1px solid var(--light-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-contacts,
.site-nav {
  display: flex;
  align-items: center;
}

.logo-web {
  color: var(--primary-brand-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--dark-color);
}

.navigation-list {
  display: flex;
  margin-left: 76px;
}

.navigation-list .item:not(:last-child) {
  margin-right: 40px;
}

.navigation-list .current-page {
  position: relative;
  color: var(--pressed-state);
}

.navigation-list .current-page::after {
  position: absolute;
  height: 4px;
  width: 100%;
  content: "";
  left: 0;
  bottom: 0;
  background-color: var(--pressed-state);
  border-radius: 2px;
}

.navigation {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--dark-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:focus {
  color: var(--pressed-state);
}

.site-contacts {
  display: flex;
  margin-left: auto;
}

.site-contacts .item:not(:last-child) {
  margin-right: 40px;
}

.contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--primary-brand-color);
}

/* footer styles */
.footer {
  background-color: var(--dark-color);
}

.main-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo-studio {
  color: var(--light-color);
}

.footer-text {
  margin-top: 16px;
  width: 264px;
  color: var(--accent-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer .header-three {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white-color);
}

.social-list {
  display: flex;
}

.footer-content {
  display: flex;
}

.footer-social {
  margin-left: 120px;
}

.footer-social .item {
  margin-right: 16px;
}

.footer-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border: none;
  background-size: contain;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--succes-color);
}

.footer-button .button-icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* headers styles */

.header-one {
  color: var(--white-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.0714;
  letter-spacing: 0.02em;
}

.header-two {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.1111;
  letter-spacing: 0.02em;
}

.header-three {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* index styles */

/* hero styles */
.hero-section {
  background-color: var(--dark-color);
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
}

.hero-section .header-one {
  margin-bottom: 48px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.order-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  padding: 16px 32px;

  
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--pressed-state);
}

.overlay {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* services styles */
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services-list {
  display: flex;
}

.services-list .item:not(:last-child) {
  margin-right: 24px;
}

.services-list .item {
  width: 264px;
}

.services-table {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  border-top: 1px solid transparent;
  background-color: var(--light-color);
}

.services-icon {
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

/* what are we doing */
.main-exemples {
  padding-bottom: 120px;
}

.examples {
  display: flex;
  margin-top: 72px;
}

.examples .item:not(:last-child) {
  margin-right: 24px;
}

.exemples-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* our team */

.our-team {
  background-color: var(--light-color);
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-list {
  display: flex;
  margin-top: 72px;
}

.team-list .item:not(:last-child) {
  margin-right: 24px;
}

.team-content {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: var(--white-color);
  text-align: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-content .social-list {
  margin-top: 12px;
  margin-left: 16px;
}

.team-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--primary-brand-color);
  cursor: pointer;
  border: none;
}

.team-button:hover,
.team-button:focus {
  background-color: var(--pressed-state);
}

.team-content .button-icon {
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
}

.team-content .item:not(:last-child) {
  margin-right: 24px;
}

/* customers */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  margin-top: 72px;
}

.customers-list .item:not(:last-child) {
  margin-right: 24px;
}

.customers-button {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 0;
  width: 168px;
  height: 88px;
  border-radius: 4px;

  border: 1px solid var(--subtle-text);
  background-color: var(--white-color);
  fill: #8e8f99;
  cursor: pointer;
}

.customers-button:hover,
.customers-button:focus {
  border: 1px solid var(--pressed-state);
  fill: var(--pressed-state);
}

.customers-icon {
  width: 104px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}

/* portfolio styles */
.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* filter button styles */
.filter-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-button .item:not(:last-child) {
  margin-right: 24px;
}

.filter-button .button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  padding: 12px 24px;

  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.filter-button .button:hover,
.filter-button .button:focus {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* filter list styles */

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -48px;
}

.filter-list .item {
  flex-basis: calc(100% / 3 - 24px);
  margin-left: 24px;
  margin-top: 48px;
}

.filter-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 32px 16px;
  border-bottom: 1px solid var(--light-color);
  border-right: 1px solid var(--light-color);
  border-left: 1px solid var(--light-color);
}

.filter-list .item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list .item:hover,
.filter-list .item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.prodact-thumb {
  position: relative;
  overflow: hidden;
}

.hidden-text {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--primary-brand-color);
  color: var(--light-color);
  opacity: 0;
}

.filter-list > .item:hover .hidden-text,
.filter-list > .item:focus .hidden-text {
  opacity: 1;
  transform: translateY(0);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 408px;
  min-height: 576px;
  border-radius: 4px;

  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;

  margin-top: 24px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--black-color);
  cursor: pointer;
}

.modal-button .button-icon {
  width: 8px;
  height: 8px;
  margin-right: auto;
  margin-left: auto;
}

.modal-button:active {
  background-color: var(--pressed-state);
  fill: var(--white-color);
}
